a:link, body_alink
{
	color: #cc7701;
}
a:visited, body_avisited
{
	color: #cc7701;
}
.tfoot
{
	color: #cc7701;
	font: bold 9pt tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.tfoot a:link, .tfoot_alink
{
	color: #cc7701;
	text-decoration: none;
}
.tfoot a:visited, .tfoot_avisited
{
	color: #cc7701;
	text-decoration: none;
}
.alt1 a:link, .alt1_alink, .alt1Active a:link, .alt1Active_alink
{
	color: #cc7701;
	text-decoration: none;
}
.alt1 a:visited, .alt1_avisited, .alt1Active a:visited, .alt1Active_avisited
{
	color: #cc7701;
}
.alt2 a:link, .alt2_alink, .alt2Active a:link, .alt2Active_alink
{
	color: #cc7701;
	text-decoration: none;
}
.alt2 a:visited, .alt2_avisited, .alt2Active a:visited, .alt2Active_avisited
{
	color: #cc7701;
	text-decoration: none;
}
.wysiwyg a:link, .wysiwyg_alink
{
	color: #cc7701;
	text-decoration: none;
}
.wysiwyg a:visited, .wysiwyg_avisited
{
	color: #cc7701;
	text-decoration: none;
}
.navbar
{
	color: #cc7701;
	font: bold 8pt tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.fjsel
{
	background: #cc7701;
	color: #eeeeee;
}
legend
{
	color: #cc7701;
	font: bold 9pt tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.vbmenu_option a:link, .vbmenu_option_alink
{
	color: #cc7701;
	text-decoration: none;
}
.vbmenu_option a:visited, .vbmenu_option_avisited
{
	color: #cc7701;
	text-decoration: none;
}
#HeaderT #HMenuSearch {
	background:url(https://i25.servimg.com/u/f25/20/21/38/73/hmenub11.gif) repeat-x;
}
#HeaderT #HMenuSearch #HMenu li a {
	text-shadow:1px 1px 0px #d04602;
}
#HeaderT #HMenuSearch #HMenu li a:hover {
	color:#ffe85c;
}
#HeaderT #HMenuSearch #HMenu li.HomeB {
	background:url(https://i25.servimg.com/u/f25/20/21/38/73/homeb11.gif) no-repeat;
}
#HeaderT #HMenuSearch #HSearch {
	background:url(https://i25.servimg.com/u/f25/20/21/38/73/search11.gif) no-repeat;
}
#HeaderT #Header #HLogo {
	background:url(https://i25.servimg.com/u/f25/20/21/38/73/blue-h12.png) no-repeat;
}
#contentTop {
	background:url(https://i25.servimg.com/u/f25/20/21/38/73/navtbg11.gif) repeat-x;
}
#contentTop #ContentTopR {
	background:url(https://i25.servimg.com/u/f25/20/21/38/73/gropui11.gif) no-repeat;
}
#contentTop #ContentTopL {
	background:url(https://i25.servimg.com/u/f25/20/21/38/73/follow11.gif) no-repeat;
}
#Footer #footerlogo {
	background:url(https://i25.servimg.com/u/f25/20/21/38/73/footer12.png) no-repeat;
}
.frT {
	background:url(https://i25.servimg.com/u/f25/20/21/38/73/frtbg12.gif) repeat-x;
}
.frT .frTR {
	background:url(https://i25.servimg.com/u/f25/20/21/38/73/frtr12.png) no-repeat;
}
.frT .frTL {
	background:url(https://i25.servimg.com/u/f25/20/21/38/73/frtl12.png) no-repeat;
}
#Footer #a7la7ekaya-Footer {
	background:url(https://i25.servimg.com/u/f25/20/21/38/73/a7la7e13.png) no-repeat;
	width:87px;
	height:51px;
	position:absolute;
	left: 33px;
	bottom: 0px;
}
